<h1>Create an Account</h1>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
    label="Username"
    [control]="authForm.controls['username']"
    inputType="text"
  ></app-input>
  <app-input
    label="Password"
    [control]="authForm.controls['password']"
    inputType="password"
  ></app-input>
  <app-input
    label="Password Confirmation"
    [control]="authForm.controls['passwordConfirmation']"
    inputType="password"
  ></app-input>

  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors['passwordAndPasswordConfirmationMatch']">
      Password and Password Confirmation must be identical.
    </p>
    <p *ngIf="authForm.errors['noConnection']">
      No internet connection, failed to signup.
    </p>
    <p *ngIf="authForm.errors['unknownError']">
      Unknown error, failed to signup.
    </p>
  </div>

  <button class="ui submit button primary">Sign up</button>
  <!-- {{ authForm.errors | json }} -->
</form>
